.latest-funding {
  margin-top: 30px;

  .header {
    margin: 0 0 20px 15px;
    align-items: center;

    a {
      align-items: center;
      font-size: 15px;
      color: $accent_color;
      font-family: $font_2;
      transition: all 0.3s ease-in-out;

      i {
        font-size: 22px;
        margin-left: 10px;
      }

      &:hover {
        color: $black_color;
      }
    }

    ul {
      .link {
        font-size: 13px;
        padding: 0 10px;
      }

      li {
        &:nth-of-type(1),
        &:nth-of-type(2) {
          .link {
            border-right: 2px solid $accent_color;
          }
        }
      }
    }

    h2 {
      margin: 0;
      padding: 0;
    }
  }

  .fundings-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    .item {
      position: relative;
      padding: 15px;
      box-sizing: border-box;

      .hd {
        .logo {
          position: absolute;
          width: 70px;
          top: 25px;
          left: 25px;
        }

        .title {
          border: 1px solid transparent;
          background-color: $accent-color;

          h2 {
            font-size: 15px;
            color: $white_color;
            font-family: $font_2;
            padding-left: 90px;
          }
        }

        .in {
          padding-left: 90px;
          background-color: $accent_color_1;

          .link {
            display: flex;
            flex-direction: column;
            padding: 10px 0;

            span {
              &:nth-of-type(1) {
                font-weight: bold;
                color: $black_color;
                font-size: 20px;
              }

              &:nth-of-type(2) {
                font-weight: bold;
                color: $gray_color;
                font-size: 12px;
              }
            }
          }
        }
      }

      .actions {
        padding: 15px;
        background-color: $accent_color_2;
        border-bottom: 1px solid $accent_color_1;

        li {
          padding: 2px 0;
        }

        a {
          font-size: 13px;
          color: $gray_color_1;

          &:hover {
            color: $gray_color;
          }
        }
      }

      .info {
        background-color: $accent_color_2;
        padding: 15px;

        .link-1 {
          font-size: 12px;
          color: $gray_color_1;

          &:hover {
            color: $gray_color;
          }
        }
      }
    }

    @include breakpoint($lg_screen) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include breakpoint($tab_screen) {
      grid-template-columns: repeat(1, 1fr);
    }

    @include breakpoint($sm_screen) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
